<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       Rick and Morty Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-item  *ngFor="let personagem of personagens">
      <ion-avatar slot="start">
          <img src="{{personagem.image}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{personagem.name}}</h2>
        <h3>{{personagem.status}}</h3>
        <p>{{personagem.origin.name}}</p>
      </ion-label>
    </ion-item>

</ion-content>